.article-list-element {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    .card {
        height: 200px;
        border-radius: 15px;

        p {
            border-radius: 15px;
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
}
